/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* html, body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden;
  } */


body {
  background-color: #faedcd;
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; 
  
}

#birdDetail{
    display: hidden;
}
